body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Sidebar */
.sidebar {
    width: 250px;
    height: 100vh;
    background: #222;
    color: #fff;
    position: fixed;
    padding: 20px;
    text-align: center;
}

.sidebar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.sidebar h3 {
    margin-bottom: 10px;
}

.btn {
    display: block;
    padding: 10px;
    background: #023061;
    color: white;
    text-decoration: none;
    margin: 5px 0;
    border-radius: 5px;
}

.btn.logout {
    background: blue;
}

/* Main Dashboard */
.dashboard-content {
    margin-left: 270px;
    padding: 20px;
}

/* Hide all content sections initially */
.content-section {
    display: none;
}

h2 {
    border-bottom: 2px solid linear-gradient(to right, #0d0d2b, #3b1f57);
    padding-bottom: 10px;
}

/* Cards */
.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background:linear-gradient(to right, #0d0d2b, #3b1f57);;
    color: white;
}

progress {
    width: 100px;
}

.present {
    color: green;
    font-weight: bold;
}

.absent {
    color: red;
    font-weight: bold;
}
